@use "global" as *;

.price-table {
  @include mq("md"){
    display: flex;
  }
}

.price-table__row {
}

.price-table__head {
  width: 100%;
  padding: rem(7) rem(7);
  border: 1px solid $blue;
  background-color: $blue;
  text-align: center;
  color: $white;
  font-family: "Noto Sans JP";
  font-size: rem(16);
  font-style: normal;
  font-weight: $bold;
  line-height: 1.500; /* 150% */

  @include mq("md") {
    max-width: rem(200);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}

.price-table__head::before {
  display: inline-block;
  content: "";
  background-image: url(../images/illust-whale.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: rem(24);
  height: rem(24);
  vertical-align: top;
  margin-right: rem(8);

  @include mq("md"){
    width: rem(64);
    height: rem(64);
    margin: rem(8) auto 0;
  }
}

.price-table__table {
  border-collapse: collapse;
  width: 100%;
}

.price-table__name {
  max-width: 100%;
  width: rem(240);
  padding: rem(7) rem(7);
  border: 1px solid $blue;
  color: $darkblue;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: rem(16);
  font-style: normal;
  font-weight: $normal;
  line-height: 1.500; /* 150% */

  @include mq("md"){
    width: rem(340);
    padding: rem(17) rem(15);
    text-align: left;
  }
}

.price-table__price {
  width: rem(106);
  padding: rem(16) rem(15);
  border: 1px solid $blue;
  color: $darkblue;
  text-align: right;
  font-family: "Noto Sans JP";
  font-size: rem(16);
  font-style: normal;
  font-weight: $normal;
  line-height: 1.500; /* 150% */

  @include mq("md"){
    width: rem(162);
    padding: rem(17) rem(15);
  }
}



