@use "global" as *;

.blog-card {
  display: block;
  background-color: $white;
  padding: rem(16) rem(16) rem(24);
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
}

.blog-card:hover .blog-card__image img {
  @include mq("md") {
    transform: scale(1.1, 1.1);
  }
}

.blog-card__image {
  width: 100%;
  overflow: hidden;
}

.blog-card__image img {
  aspect-ratio: 301 / 201;
  object-fit: cover;

  @include mq("md"){
    transition: transform .3s;
  }
}

.blog-card__body {
  margin-top: rem(21);

  @include mq("md") {
    margin-top: rem(19);
  }
}

.blog-card__date {
  color: $darkblue;
  font-family: Gotu;
  font-size: rem(12);
  font-style: normal;
  font-weight: $normal;
  line-height: 1.500; /* 150% */
}

.blog-card__title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.blog-card__text {
  margin-top: rem(16);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

