@use "global" as *;

.blog-layout {
}

.blog-layout__inner {
  width: 100%;
  max-width: rem(600);
}

.blog-layout__container {
  @include mq("md"){
    display: flex;
  }
}

.blog-layout__main-contents {
  width: 100%;

  @include mq("md"){
    max-width: rem(706);
  }
}

.blog-layout__side {
  width: 100%;
  margin-top: rem(80);
  padding-left: 25px;
  padding-right: 25px;

  @include mq("md"){
    max-width: rem(294);
    margin-top: 0;
    margin-left: rem(80);
    padding-left: 0;
    padding-right: 0;

  }
}

.blog-layout__pagination {
}

.blog-layout__sub-news {
  margin-top: rem(40);
}
