@use "global" as *;

.button {
  position: relative;
  display: inline-block;
  padding: rem(15) rem(88) rem(15) rem(40);
  margin-bottom: rem(6);
  border: 1px solid $blue ;
  border-radius: 50vw;
  background-color: $blue;
  text-transform: capitalize;
  color: $white;
  font-size: rem(14);
  font-style: normal;
  font-weight: $normal;
  line-height: 1.571; /* 157.143% */
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}

.button:hover {
  @include mq("md"){
    color: $blue;
  }
}

.button.button--form {
  padding: 0;
}

.button.button--reverse {
  color: $blue;
  border: 1px solid $white;
  background-color: $white;
}

.button.button--reverse:hover {
  @include mq("md"){
    color: $white;
  }
}

// スライドアニメーション
.button::before {
  @include mq("md") {
    background-color: $white;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50vw;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: .3s cubic-bezier(0.45, 0, 0.55, 1);
    z-index: -1;
  }
}

.button.button--reverse::before {
  @include mq("md"){
    background-color: $blue;
  }
}

.button:hover:before {
  @include mq("md") {
    transform: scale(1, 1);
  }
}

.button__input {
  padding: rem(15) rem(111) rem(15) rem(55);
  color: $white;
  font-size: rem(14);
  font-style: normal;
  font-weight: $normal;
  line-height: 1.571; /* 157.143% */
}

.button:hover .button__input{
  @include mq("md"){
    color: $blue;
  }
}

// ボタンの矢印
.button__arrow {
  position: absolute;
  content: "";
  background-image: url(../images/arrow-icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  top: rem(22);
  right: rem(40);
  width: rem(40);
  height: rem(7);
}

.button:hover .button__arrow {
  @include mq("md") {
    background-image: url(../images/arrow--green-icon.svg);
  }
}

.button.button--reverse > .button__arrow {
  background-image: url(../images/arrow--green-icon.svg);
}

.button.button--reverse:hover > .button__arrow {
  @include mq("md"){
    background-image: url(../images/arrow-icon.svg);
  }
}