@use "global" as *;

.campaign {
  position: relative;
  padding-top: rem(56);

  @include mq("md") {
    padding-top: rem(120);
  }
}

.campaign::before {
  position: absolute;
  content: "";
  top: rem(60);
  left: rem(-160);
  background-color: #eef0f3;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  transform: skewX(-25deg);
  width: rem(300);
  height: rem(560);
  z-index: -1;

  @include mq("md"){
    top: rem(150);
    left: rem(-560);
    transform: skewX(-40deg);
    width: rem(880);
    height: rem(1200);
    z-index: -1;
  }
}

.campaign__inner {
  max-width: rem(600);
}

.campaign__heading {
}

.campaign__cards {
  margin-top: rem(24);
  padding-left: rem(6);
  padding-right: rem(6);

  @include mq("md") {
    margin-top: rem(80);
    padding-left: 0;
    padding-right: 0;
  }
}

.campaign__button {
  margin-top: rem(40);
  text-align: center;

  @include mq("md") {
    margin-top: rem(80);
  }
}