@use "global" as *;

.campaign-mv {
  position: relative;
}

.campaign-mv__image {
  height: rem(460);

  @include mq("md") {
    height: rem(548);
  }
}

.campaign-mv__text {
  position: absolute;
  top: calc(50% + 45px);
  left: 50%;
  transform: translate(-50%, -50%);
  color: $white;
  font-family: Lato;
  font-size: rem(40);
  font-style: normal;
  font-weight: $normal;
  line-height: normal;

  @include mq("md") {
    font-size: rem(80);
    line-height: 1.25; /* 125% */
  }
}

.campaign-mv__text::first-letter {
  text-transform: uppercase;
}