@use "global" as *;

.card-type {
  width: fit-content;
  padding: rem(5) rem(11) rem(1);
  border: rem(1) solid $green;
  color: $green;
  font-family: "Noto Sans JP";
  font-size: rem(12);
  font-style: normal;
  font-weight: $normal;
  line-height: 1.833; /* 183.333% */

  @include mq("md") {
    padding: rem(6) rem(15);
  }
}

.card-type.card-type--tight {
  @include mq("md") {
    line-height: 1.5;
  }
}