@use "global" as *;

.content-title {
  width: 100%;
  color: $darkblue;
  font-family: "Noto Sans JP";
  font-style: normal;
  border-bottom: rem(1) solid $blue;
}

.content-title.content-title--info {
  padding-bottom: rem(3);
  font-size: rem(20);
  font-weight: $bold;
  line-height: 1; /* 100% */

  @include mq("md") {
    font-size: rem(24);
    padding-bottom: rem(6);
  }
}

.content-title.content-title--blog {
  padding-bottom: rem(2);
  font-size: rem(16);
  font-weight: $medium;
  line-height: 1.500; /* 150% */

  @include mq("md") {
    padding-bottom: rem(4);
  }
}

.content-title.content-title--voice {
  padding-bottom: rem(2);
  font-size: rem(16);
  font-weight: $medium;
  line-height: 1.500; /* 150% */

  @include mq("md") {
    margin-top: 1px;
    font-size: rem(24);
  }
}

.content-title.content-title--price {
  padding-bottom: rem(2);
  font-size: rem(16);
  font-weight: $bold;
  line-height: 1.500; /* 150% */

  @include mq("md") {
    padding-bottom: rem(3);
  }
}

