@use "global" as *;

.faq {
  position: relative;
  padding-top: rem(56);

  @include mq("md") {
    padding-top: rem(120);
  }
}

.faq::before {
  position: absolute;
  content: "";
  top: rem(60);
  left: rem(-160);
  background-color: #eef0f3;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  transform: skewX(-25deg);
  width: rem(300);
  height: rem(560);
  z-index: -1;

  @include mq("md"){
    top: rem(150);
    left: rem(-560);
    transform: skewX(-40deg);
    width: rem(880);
    height: rem(1200);
    z-index: -1;
  }
}

.faq__inner {
  max-width: rem(600);
}

.faq__container {
  margin-top: rem(24);

  @include mq("md") {
    margin-top: rem(40);
  }
}

.faq__list {
}
