@use "global" as *;

.footer {
  padding: rem(48) 0 rem(56);
  background-color: $blue;
  position: relative;

  @include mq("md") {
    padding: rem(80) 0;
  }
}

.footer__heading {
  margin-left: rem(-4);

  @include mq("md") {
    display: flex;
    align-items: end;
  }
}

.footer__logo {
  width: 100%;
  max-width: rem(128);

  @include mq("md") {
    max-width: rem(213);
  }
}

.footer__sns-icon {
  display: flex;
  gap: rem(16);
  margin-top: rem(8);
  margin-left: rem(4);

  @include mq("md") {
    margin-top: 0;
    margin-left: rem(33);
    margin-bottom: rem(15);
  }
}

.footer__facebook,
.footer__instagram {
  height: rem(24);
  width: rem(24);

  @include mq("md") {
    height: rem(32);
    width: rem(32);
  }
}

.footer__facebook:hover,
.footer__instagram:hover {
  @include mq("md") {
    opacity: 0.7;
  }
}

.footer__container {
  margin-top: rem(40);

  @include mq("md") {
    margin-top: rem(14);
  }
}

.footer__copy {
  margin-top: rem(31);
  text-align: center;
  color: $white;
  font-family: Gotu;
  font-size: rem(14);
  font-style: normal;
  font-weight: $normal;
  line-height: 1.500; /* 150% */

  @include mq("md") {
    margin-top: rem(73);
    font-size: rem(17);
    line-height: 1.286; /* 128.571% */
  }
}
