@use "global" as *;

.gallery {

}

.gallery__inner {
  position: relative;
  max-width: rem(600);
}

.gallery__heading {

}

.gallery__container {
  margin-top: rem(40);

  @include mq("md"){
    margin-top: rem(80);
  }
}

.gallery__items {
  display: grid;
  gap: rem(8);
  grid-template-columns: repeat(8, 1fr);

  @include mq("md"){
    grid-template-columns: repeat(9, 1fr);
    grid-auto-flow: dense;
  }
}

.gallery__item {
  cursor: pointer;
  transition: opacity .3s;
  grid-column: span 4;
  grid-row: span 1;

  @include mq("md"){
    grid-column: span 5;
    grid-row: span 1;
  }
}

.gallery__item:hover {
  @include mq("md"){
    opacity: .7;
  }
}

.gallery__item:nth-of-type(6n+1),
.gallery__item:nth-of-type(6n+6) {
  grid-column: span 4;
  grid-row: span 1;

  @include mq("md"){
    grid-column: span 4;
    grid-row: span 2;
  }
}

.gallery__item img {
  width: 100%;
  height: 100%;
  aspect-ratio: 580 / 365;
  object-fit: cover;

  @include mq("md"){
    aspect-ratio: 580 / 358;
  }
}

.gallery__item:nth-of-type(6n+1) img,
.gallery__item:nth-of-type(6n+6) img {
  @include mq("md"){
    aspect-ratio: 492 / 746;
  }
}