@use "global" as *;

.heading {
  width: 100%;
  text-align: center;
}

.heading.heading--left {
  text-align: left;
}

.heading__title {
  color: $black;
  font-size: rem(32);
  font-family: "Barlow+Semi+Condensed";
  font-style: normal;
  font-weight: $normal;
  line-height: 1.250; /* 125% */

  @include mq("md") {
    font-size: rem(56);
    line-height: 1; /* 100% */
  }
}

.heading__title::first-letter {
  color: $green;
  text-transform: uppercase;
}

.heading__subtitle {
  margin-top: rem(8);
  color: $black;
  font-family: "Noto Sans JP";
  font-size: rem(12);
  font-style: normal;
  font-weight: $normal;
  line-height: 1.500; /* 150% */

  @include mq("md"){
    font-size: rem(16);
  }
}

.heading__title.heading__title--reverse {
  @include mq("md") {
    color: $white;
  }
}

.heading__title.heading__title--reverse::first-letter {
  @include mq("md") {
    color: $lightgreen;
  }
}

.heading__subtitle.heading__subtitle--reverse{
  @include mq("md") {
    color: $white;
  }
}

.heading__title.heading__title--large {
  font-size: rem(80);

  @include mq("md") {
    margin-top: rem(18);
  }
}

.heading__subtitle.heading__subtitle--tight {
  margin-top: rem(-14);

  @include mq("md") {
    margin-top: rem(-3)
  }
}