@use "global" as *;

.heading {
  width: 100%;
  text-align: center;
}

.heading.heading--left {
  text-align: left;
}

.heading.heading.heading--right {
  text-align: right;
  position: relative;
  z-index: 1;
}

.heading.heading.heading--right::after {
  position: absolute;
  content: "";
  top: rem(-4);
  right: rem(-176);
  background-color: $blue;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  transform: skewX(-25deg);
  width: rem(300);
  height: rem(80);
  z-index: -1;

  @include mq("md"){
    top: rem(35);
    right: rem(-800);
    transform: skewX(-40deg);
    width: rem(1000);
    height: rem(64);
  }

}

.heading__title {
  color: $black;
  font-size: rem(32);
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: $normal;
  line-height: 1.250; /* 125% */
  text-transform: capitalize;

  @include mq("md") {
    font-size: rem(56);
    line-height: 1; /* 100% */
  }
}

.heading__title.heading__title--upper {
  text-transform: uppercase;
}

.heading__subtitle {
  margin-top: rem(8);
  color: $black;
  font-family: "Noto Sans JP";
  font-size: rem(12);
  font-style: normal;
  font-weight: $normal;
  line-height: 1.500; /* 150% */

  @include mq("md"){
    font-size: rem(16);
  }
}

.heading__title.heading__title--reverse {
  color: $white;
}

.heading__subtitle.heading__subtitle--reverse {
  color: $white;
}

.heading__title.heading__title--large {
  font-size: rem(40);

  @include mq("md") {
    font-size: rem(80);
  }
}

.heading__subtitle.heading__subtitle--tight {
  margin-top: 0;

  @include mq("md") {
    margin-top: rem(4)
  }
}