@use "global" as *;


.mainview {
  width: 100%;
  height: 100vh;
}

.mainview__inner {
  position: relative;
  width: 100%;
  height: inherit;
}

.mainview__swiper,
.mainview__pic,
.mainview__image {
  height: inherit;
}

.mainview__image {
  object-fit: cover;
}

.mainview__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.mainview__title {
  width: fit-content;
  color: $white;
  font-family: "Barlow Semi Condensed";
  font-size: rem(40);
  font-style: normal;
  font-weight: $normal;
  line-height: normal;
  letter-spacing: .54em;
  text-indent: .54em;
  text-transform: uppercase;

  @include mq("md") {
    font-size: rem(80);
    line-height: 1.25; /* 125% */
  }
}

.mainview__subtitle {
  text-align: center;
  color: $white;
  font-size: rem(20);
  font-style: normal;
  font-weight: $normal;
  line-height: normal;
}
