@use "global" as *;

.nav {
  padding-left: rem(22);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__item:not(:first-child) {
  margin-top: rem(32);
}

.nav__link {
  color: $white;
  font-family: "Noto Sans JP";
  font-size: rem(18);
  font-style: normal;
  font-weight: $normal;
  line-height: 2;
}
