@use "global" as *;

.price {
  padding: rem(80) 0 rem(75);
  background-color: $lightblue;

  @include mq("md") {
    padding: rem(100) 0 rem(96);
  }
}

.price__inner {
  position: relative;
  max-width: rem(600);
}

.price__inner::after {
  @include mq("md") {
    background-image: url(../images/illust-fish3.png);
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    position: absolute;
    content: "";
    left: calc(50% - min(48vw, rem(620)));
    bottom: rem(-35);
    width: rem(437);
    height: rem(201);
    z-index: 1;
  }
}

.price__container {
  margin-top: rem(24);

  @include mq("md") {
    margin-top: rem(40);
  }
}

.price__contents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  row-gap: rem(40);

  @include mq("md") {
    align-items: start;
    flex-direction: row;
    column-gap: rem(93);
  }
}

.price__menu-area {
  width: 100%;

  @include mq("md") {
    max-width: rem(492);
    margin-top: rem(3);
  }
}

.price__image-area {
  width: 100%;
}

.price__image {
  width: 100%;
  aspect-ratio: 345 / 227;
  object-fit: cover;

  @include mq("md") {
    max-width: rem(492);
    aspect-ratio: 492 / 746;
  }
}

.price__button-area {
  margin-top: rem(39);
  text-align: center;

  @include mq("md") {
    margin-top: rem(75);
  }
}



