@use "global" as *;

.terms-of-service {
}

.terms-of-service__inner {
  width: 100%;
  max-width: rem(600);
  padding-right: 15px;
  padding-left: 15px;
  margin-inline: auto;

  @include mq("md"){
    max-width: rem(850);
    padding-right: 25px;
    padding-left: 25px;
  }
}

.terms-of-service__container {
  position: relative;
}

.terms-of-service__title {
  color: $darkblue;
  font-family: "Noto Sans JP";
  font-size: rem(24);
  font-style: normal;
  font-weight: $medium;
  line-height: normal;

  @include mq("md"){
    font-size: rem(32);
  }
}

.terms-of-service__contents {
  margin-top: rem(40);
}

.terms-of-service ol {
  list-style-type: decimal;
  padding-left: rem(16);
}

.terms-of-service li,
.terms-of-service p {
  color: $darkblue;
  font-family: "Noto Sans JP";
  font-size: rem(16);
  font-style: normal;
  font-weight: $normal;
  line-height: 2.000; /* 200% */
}


