@use "global" as *;

.voice {
  background-color: $lightblue;
  padding: rem(80) 0;
}

.voice__inner {
  position: relative;
  max-width: rem(600);
}

.voice__heading {
  margin-top: rem(-5);
}

.voice__cards {
  margin-top: rem(40);

  @include mq("md") {
    margin-top: rem(30);
  }
}

.voice__button {
  margin-top: rem(37);
  text-align: center;

  @include mq("md") {
    margin-top: rem(80);
  }
}